nav{
  display: grid;
  justify-content: center;
  grid-template-columns: auto;
  padding-top: 10px;
}

header{
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

.header_links{
  margin-right: 25px;
  align-self: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
  grid-row: 1/2;
}

.header_cart{
  margin-right: 25px;
  align-self: center;
  grid-row: 1/2;
}

.header_search{
  margin-right: 25px;
  align-self: center;
  grid-row: 1/2;
}

.header_logo{
  grid-row: 1/2;
  align-self: flex-end;
}

.header_logo_text{
  font-family: 'Raleway', sans-serif;
  color: white;
  margin-right: 60px;
  font-size: 1.8em;
  align-self: flex-end;
  grid-column: 2/3;
}

a{
  text-decoration: none;
}

.header_home{
  grid-column: 4/5;
}
.header_about{
  grid-column: 5/6;
}
.header_portfolio{
  grid-column: 6/7;
}
.header_features{
  grid-column: 7/8;
}
.header_blog{
  grid-column: 8/9;
}
.header_pricing{
  grid-column: 9/10;
}
.header_contact{
  grid-column: 10/11;
}
.header_cart{
  grid-column: 11/12;
}
.header_search{
  grid-column: 13/14;
}

.title{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.title_1line{
  grid-column: 2/3;
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
}
.title_2line{
  grid-column: 2/3;
  font-family: 'Raleway', sans-serif;
  font-size: 52px;
  font-variant: extra-bold;
}
.title_3line{
  grid-column: 2/3;
}
