nav{
  display: flex;
  justify-content: flex-end;
}

header{
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.header_links{
  flex-grow: 0;
  margin-right: 25px;
}

.header_cart{
  flex-grow: 0;
  margin-right: 25px;
}

.header_search{
  flex-grow: 0;
  margin-right: 25px;
}

a{
  text-decoration: none;
}
