nav{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

header{
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

.header_links{
  flex-grow: 0;
  margin-right: 25px;
  align-self: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.header_cart{
  flex-grow: 0;
  margin-right: 25px;
  align-self: center;
}

.header_search{
  flex-grow: 0;
  margin-right: 25px;
  align-self: center;
}

.header_logo{
  align-self: center;
}

.logo_text{
  font-family: 'Raleway', sans-serif;
  color: white;
  margin-right: 60px;
  font-size: 1.8em;
  align-self: center;
}

a{
  text-decoration: none;
}
